<ion-view view-title="{{Tipe}}">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in listdetail">
                <span class="col-sm-6 label">{{item.Variant}}</span>
                <span class="col-sm-6 total">{{item.Total}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
